body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/89/Diana_Rigg_Diana_1973_crop.JPG);
    font-family: "Sofia";
    font-size: 22px;
  
}

h1{
    text-align: center;
    text-shadow: snow;
    background-color: black;
    opacity: 0.6;
 }

h3{
    color:yellow;
    border-radius: 32rem;

}

img {
    width: 400px;
    height: 800px;
    outline-color: beige;
position: relative;
}

p{
    color: tomato;
}
